@page "/Customers/DetailsDebt"
@model DetailsDebtModel
@{
    var name = $"{Model.Input.DataClient.Name} {Model.Input.DataClient.LastName}";
    var debt = $"{Model.Input.Money}{String.Format("{0:#,###,###,##0.00####}", Model.Input.DataClient.Debt)}";
    var payment = $"{Model.Input.Money}{String.Format("{0:#,###,###,##0.00####}", Model.Input.DataClient.Payment)}";
    var monthly = $"{Model.Input.Money}{String.Format("{0:#,###,###,##0.00####}", Model.Input.DataClient.Monthly)}";
    var currentDebt = $"{Model.Input.Money}{String.Format("{0:#,###,###,##0.00####}", Model.Input.DataClient.CurrentDebt)}";
    var id = Model.Input.DataClient.IdClient;
}
<div class="container">
    <h1>@name</h1>
    <div class="row">
        <div class="col-sm ">
            <div class="card text-center" style="width: 21rem;">
                <div class="card-header ">
                    <h5>Reporte de pago</h5>
                </div>
                <div class="card-body">
                    <div class="col-md-10">
                        <div class="row">
                            <p>Deuda: </p>
                            &nbsp;
                            <p> @debt </p>
                        </div>
                        <div class="row">
                            <p>Fecha deuda: </p>
                            &nbsp;
                            <p>@Model.Input.DataClient.DateDebt.ToString("dd/MMM/yyy")</p>
                        </div>
                        <div class="row">
                            <p>Pago: </p>
                            &nbsp;
                            <p>@payment</p>
                        </div>
                        <div class="row">
                            <p>Fecha del pago: </p>
                            &nbsp;
                            <p>@Model.Input.DataClient.Date.ToString("dd/MMM/yyy")</p>
                        </div>
                        <div class="row">
                            <p>Cuotas por mes: </p>
                            &nbsp;
                            <p>@monthly</p>
                        </div>
                        <div class="row">
                            <p>Deuda actual: </p>
                            &nbsp;
                            <p> @currentDebt </p>
                        </div>
                        <div class="row">
                            <p>Ticket: </p>
                            &nbsp;
                            <p>@Model.Input.DataClient.Ticket</p>
                        </div>
                        <div class="row">
                            <p>Usuario: </p>
                            &nbsp;
                            <p>@Model.Input.DataClient.User</p>
                        </div>
                        <div class="row">
                            <form asp-area="Customers" asp-page="DetailsDebt" method="post">
                                <input type="submit" value="Ticket" class="btn btn-outline-info btn-sm">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
